<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back-outline" class="back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="delivery-class">
      <p class="delivery">Delivery</p>
      <p class="time">40 mints</p>
    </div>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social-outline" class="share-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


</ion-content>
