ion-header{
    background: #C60D5C;
}

.class-M{
    color: #C60D5C;
    background: white;
    width: max-content;
    border-radius: 50px;
    font-size: 20px;
    margin: 0px;
    margin-top: 6px;
    margin-left: 9px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.name{
    color: white;
    margin-left: 10px;
    margin-top: 45px;
    margin-bottom: 4px;
    font-size: 14px;
}
.panda-item{
    margin-left: -5px;
}
.panda{
    color: #C60D5C;
}

.pay{
    color: white;
    background: #C60D5C;
    padding-left: 2px;
    padding-right: 2px;
}
.credit{
    color: black
}
.fav-icon, .reader-icon, .person-icon, .location-icon{
    color: #C60D5C;
    font-size: 22px;
}
.label-class{
    font-size: 14px;
}