ion-content{
  padding-left: 10px;
}
.menu-icon, .fav-icon, .cart-icon{
  color: #C60D5C;
}

.location{
  font-size: 14px;
  font-weight: bold;
  margin:0px
}
.city{
  font-size:12px;
  margin: 0px;
}
.searchbar-input.sc-ion-searchbar-md{
  border-radius: 5px;
  border: none;
  background-color:#979090;
}
.welcome-heading{
  font-size: 14px;
  margin: 0px;
  font-weight: bold;
}
.welcome-para{
  font-size: 11px;
  margin: 0px;
  white-space: initial;
  line-height: 1.1;
  padding-top: 4px;
}

.img{    
  height: 39px;
}


.cards-grid, .your-restaurants{
  display: grid;
  grid-template-columns: auto auto;
}
.first-card{
  background-color: #C60D5C;
  grid-column-start: 1;
  grid-column-end: 3;
  box-shadow: none;
}
.first-card-img{
  width: 60px;
  position: absolute;
  right: 15px;
}
ion-card-title{
  color: white;
}
ion-card-subtitle{
  color:white
}
.second-card{
  background-color: #fbc531;
  box-shadow: none;
}
.third-card{
  margin: 0px;
  box-shadow: none;
}
.third-first-card{
  background-color:#fd79a8;
  height: 164px;
  box-shadow: none;
}
.takeaway-img{
  width: 60px;
  padding-left: 10px;
}
.third-second-card{
  background-color: #74b9ff;
  height: 102px;
  box-shadow: none;
}
.grocery-img{
  width: 60px;
}
.restaurant-heading{
  font-weight: bold;
  font-size: 14px;
  padding-left: 7px;
}

.restaurant-first-card{
  color:  black;
  width: 254px;
  box-shadow: none;
}
.restaurant-card-heading{
  font-weight: bold;
  font-size: 14px;
  margin:0px
}
.deal-badge{
  background-color: #C60D5C;
  position: absolute;
  top: 15px;
}
.time-badge{
  position: absolute;
  left: 4px;
  font-size: 12px;
  padding: 2px;
  bottom: 60px;
  color: black;
  background-color: #fff;
  border-radius: 20px;
}
.restaurant-card-para{
  margin: 0px;
  font-size: 11px;
  color: #6c6767;
  padding-bottom: 2px;
}
.restaurant-card-delivery{
  font-weight: bold;
  font-size: 11px;
  margin: 0px;
}

.daily-deals{
  padding-left: 5px;
}
.deals-cards{
  margin: 0px;
  padding: 4px;
  width: 1200px;
  box-shadow: none;
  img{
    width: 1200px;
    border-radius: 5px;
  }
}