<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="location-class">
      <p class="location">DHA Phase 1</p>
      <p class="city">Lahore</p>
    </div>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="heart-outline" class="fav-icon"></ion-icon>
        
      </ion-button>
      <ion-button>
        <ion-icon name="bag-outline" class="cart-icon"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Search for shops & restaurants" class="search-class"></ion-searchbar>

  <ion-item class="welcome-card" lines="none">
    <ion-thumbnail slot="end">
      <img src="assets/image.png" class="img">
  </ion-thumbnail>
    <ion-label>
    <h3 class="welcome-heading">Good afternoon, Mohammad</h3>
    <p class="welcome-para">Thinking of Lunch?There are 343 restaurants in your area.</p>
  </ion-label>
  </ion-item>


  <div class="cards-grid">

    <ion-card class="first-card" (click) = "goToFoodDelivery()">
      <img src="assets/first-card-img.png" class="first-card-img">
      <ion-card-header>
        <ion-card-title>
          Food Delivery
        </ion-card-title>
        
        <ion-card-subtitle>
          Order from your favourite restaurants and home chefs
        </ion-card-subtitle>
      </ion-card-header>

    </ion-card>

    <ion-card class="second-card" (click) = "goToFoodDelivery()">
      <img src="assets/pandamart-img.png" class="pandamart-img" >
      
      <ion-card-header>
        <ion-card-title>
          pandamart
        </ion-card-title>
        <ion-card-subtitle>
          Groceries in 20 minutes
        </ion-card-subtitle>
      </ion-card-header>

    </ion-card>

    <ion-card class="third-card" >

    <ion-card class="third-first-card" (click) = "goToFoodDelivery()">
      <img src="assets/take-away.png" class="takeaway-img" >

      <ion-card-header>
        <ion-card-title>
          Pick-Up
        </ion-card-title>
        <ion-card-subtitle>
          Enjoy flat 25% off and more..
        </ion-card-subtitle>
      </ion-card-header>

    </ion-card>

    <ion-card class="third-second-card" (click) = "goToFoodDelivery()">
      <img src="assets/grocery.png" class="grocery-img" >
      <ion-card-header style="padding: 0px; padding-left: 10px;">
        <ion-card-title>
          Shops
        </ion-card-title>
        <ion-card-subtitle>
          Grocery & more..
        </ion-card-subtitle>
      </ion-card-header>

    </ion-card>
  </ion-card>
  </div >
  <h3 class="restaurant-heading">Your Restaurants</h3>

  <div class="your-restaurants">
    <ion-card class="restaurant-first-card" (click)= "businessDetails()">
      <ion-badge class="deal-badge">Celebration Deals</ion-badge>
      <img src="assets/restaurant-first-card.png" style="background-color: #f2f2f2;">
      <ion-badge  class="time-badge">35 mints</ion-badge>
      <h3 class="restaurant-card-heading">Pizza Max - Islampura</h3>
      <p class="restaurant-card-para">Italians, Beverages, European, Desser...</p>
      <p class="restaurant-card-delivery">PKR 60.00 delivery fee</p>
      

    </ion-card>
  </div>

  <h3 class="restaurant-heading">Your daily deals</h3>
  <div class="daily-deals">
    <ion-slides [options]="slideOpts">
    <ion-slide class="deals-cards">
      <img src="assets/deal1.png">
    </ion-slide>
    <ion-slide class="deals-cards">
      <img src="assets/deal2.png">
    </ion-slide>
    <ion-slide class="deals-cards">
      <img src="assets/deal3.png">
    </ion-slide>
  </ion-slides>
  </div>

</ion-content>